# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=23a92e2185563187434706c01d2c7e8f
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

PROXY_BASE_URI=
PROXY_ENABLE_THROTTLING=false
PROXY_THROTTLING_MAX_REQUESTS=
PROXY_THROTTLING_DURATION=
PROXY_THROTTLING_KEY=app_proxy_throttle